    #user-register .form-group input
    {
        float: right;
    }
    #user-register
    {
        width: 300px;
    }
    
    #user-register .reg-edit-user-form
    {
        margin: 64px 0 0 32px;
    }
    
    
    #user-register .btn-group + .btn-group > *
    {
        margin: 32px;
    }
    
    #user-register #button-set
    {
        margin-top: 32px;
    }
    
    
    #user-register #form-set
    {
        
    }