<ul n:if="$items">
    <li n:foreach="$items as $item">{$item|capitalize}</li>
</ul>
<ul>
    <li><a href="/Book/Index" >Поиск книг</a></li>
    
    <li><a href="/Book/Add" >Добавление книг</a></li>
    
</ul>
